
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-title>
        Cinica Dr. Ciclano Antunes
      </ion-title>
      <ion-button (click)="agendar()"  shape="round">Consultas</ion-button>
      <ion-buttons slot="primary" (click)="sair()">
        <ion-button
          >Menu
          <ion-icon slot="start" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let medico of listaMedicos" lines="full" (click)="exibirmedico(medico)">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" [src]="medico.foto" />
      </ion-thumbnail>
      <ion-badge></ion-badge>
    <ion-label><strong>{{medico.nome}}</strong>
      <p>{{medico.especialidade}}</p>
    </ion-label>
  </ion-item>

  </ion-list>

</ion-content>
